var $env = {
	APP: {
		ENV: "development",
		DEBUG: "true"
    },
    BACKEND: {
		PROT: "http",
        HOST: "127.0.0.1",
        PORT: "80",
        PATH: "backend"
    },
    NODE: {
        PROT: "http",
        HOST: "127.0.0.1",
        PORT: "3000",
        PATH: ""
    },
    SOCKET: {
        PROT: "http",
        HOST: "127.0.0.1",
        PORT: "3000"
	}
};

const APP_CONN = `${$env.APP.PROT}://${$env.APP.HOST}:${$env.APP.PORT}/${$env.APP.PATH}`;
const NODE_CONN = `${$env.NODE.PROT}://${$env.NODE.HOST}:${$env.NODE.PORT}/${$env.NODE.PATH}`;
const SOCKET_CONN = `${$env.SOCKET.PROT}://${$env.SOCKET.HOST}:${$env.SOCKET.PORT}`;
